---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Us"
	description="Meet Andrew and Lisa"
	pubDate={new Date('October 31 2023')}
	heroImage="/lisandrew.jpg"
>
	<p>
		Andrew and Lisa met three years ago and fell in love at first sight. Andrew asked Lisa to move
		in with him after knowing each other only a couple weeks, partly because Lisa was living in hotels
		at the time, but also because he secretly hoped that they would be together forever. He was right - 
		they have been together ever since and it is rare that they aren't ever together in whatever they are
		doing. Through thick and thin, they have stuck together as best friends and lovers. They have their 
		good days and bad days, but ask them about it and they will tell you that they've never regretted a 
		single day together. It's always an adventure with these two - whether they are snooping through dumpsters 
		where people have dumped old furniture or just watching one of their favorite TV shows, there is never a
		dull moment.
	</p>

	<p>
		Unfortunately the pandemic was not kind to Andrew's career and that is where the struggle began for these two.
		Andrew decided to become a full stack developer, which involved a lot of learning and rejection from job 
		opportunities. While Lisa held things together for a while with her job at The North Carolina Harm Reduction Coalition,
		the spike in rent and dwindling financial resources cost Lisa and Andrew their apartment in January of 2023. it has been
		a hard road for these two while navigating life without a stable home, but they have begun to figure out this environment
		and more importantly, they have learned to love all the little things in life that they do feel blessed to have. Whether its 
		a meal at Freddy's, courtesy of Andrew's loving parents or its walking their little furry best friend Magnolia through the 
		meadow they share their tent in, Lisa and Andrew can say that they regret nothiing about their life and believe that they 
		are blessed to have each other and to be alive each day.
	</p>


	<p>
		Times have been hard, especially recently with the cold weather setting in and with it more difficult
		for them to make money without work. But they continue to put in job applications and pray the right
		opportunity will present itself and help lift them out of their current situation. Times have seemed 
		very dark lately and they have realized that they need to do some stuff differently to spark real 
		change. But how dark it is before the light they say!
	</p>

	<p>
		This website and blog was created as a creative outlet, a way to help other homeless individuals, and 
		also as a way to ask for your kindness and help as they try to make enough money to get a home to live in.
		Andrew has deployed his skills as a developer and Lisa has applied her experience in helping homeless people 
		from her time as an outreach worker and her own experience with homelessness to bring you this website full of 
		stories, resources, and hope for a better future. If you have felt like they deserve a helping hand, liked what
		you've read, or just straight up want to be an awesome and amazing person, please feel free to visit the [Donation Page](/donate)
		and contribute to their cause or purchase something off their wishlist - they will be beyond grateful for your 
		kindness and you will receive an awesome digital thank you card and potentially some stickers or t-shirt in the future!
	</p>

	<p>
		Lisa and Andrew want to thank you for visiting our little space on the internet where we can share our story with you 
		and hopefully spark change to help homeless individuals - or at least change your perception of the homeless. God willing 
		they find their way out of this mess and they can spread their message in a way to help others in need. Thank you!
	</p>
</Layout>
