---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'Living Homeless | Learn about homelessness through lived experiences';
const description = 'Learn how to live homeless with Lisa and Andrew.';
---

<BaseLayout title={title} description={description}>
    <h1>Contact Us!</h1>
</BaseLayout>