---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'Living Homeless | Learn about homelessness through lived experiences';
const description = 'Learn how to live homeless with Lisa and Andrew.';
const permalink = Astro.site.href;
---

<BaseLayout title={title} description={description} permalink={permalink}>
    <div class="flex flex-1 items-center justify-center my-16">
        <div class="flex-1 px-8">
        </div>
        <h2 class="font-bold mb-10">Donations can be made to <hr />
          $lisaweisbeck4 via CashApp<hr />
        </h2>
        
        </div>
        <p>This page is a work in progress - we are working on more ways for you to contribute - thank you!</p>
    </div>
</BaseLayout>